---
title: BADthings
---
!!!
%html
 %head
  = stylesheet_link_tag "all"
  %title= current_page.data.title
 %body
  %h1= current_page.data.title
  %p
   Welcome to the website of Bartlett & Daughter (a.k.a. BAD)!
  %p
   We're currently hard at work building the content for the site, but
   please check back soon when we hope to have lots of info on our
   favourite things to do, make, watch and play...
